# {{book.title}}

{% for chapter in book.chapters -%}

## {{chapter.name}}

{% for annotation in chapter.annotations -%}

{% if annotation.is_highlight() -%}

:::{{annotation.color.name.lower()}}

> {{annotation.text}}

{% for note in annotation.notes -%}
{{note.text}}

{% endfor %}
:::
{% else -%}
:::

{{annotation.text}}

:::
{% endif %}

{% endfor %}
{% endfor %}