# {{book.title}}

{% for chapter in book.chapters -%}

## {{chapter.name}}

{% for kh in chapter.annotations -%}

{% if kh.is_highlight() -%}

:::{{kh.color.name.lower()}}

> {{kh.text}}

{% for note in kh.notes -%}
{{note.text}}

{% endfor %}
:::
{% else -%}
:::

{{kh.text}}

:::
{% endif %}

{% endfor %}
{% endfor %}